<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EXT_AX2009_LOGIN.SettingNew" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="domain" value="exedy-thai"/>
    <add key="axserverip" value="192.168.1.141"/>
    <add key="axserverport" value="2715"/>
  </appSettings>
  <system.windows.forms jitDebugging="true" />
  <userSettings>
    <EXT_AX2009_LOGIN.SettingNew>
      <setting name="domain" serializeAs="String">
        <value>exedy-thai</value>
      </setting>
      <setting name="ip" serializeAs="String">
        <value>192.168.1.141</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>2715</value>
      </setting>
    </EXT_AX2009_LOGIN.SettingNew>
  </userSettings>
</configuration>